# Data
/data

# Pytest cache
.pytest_cache

# Egg info
**/*.egg-info

# Pycache
**/__pycache__

# Mypy
**/.mypy_cache

# Results files for the training predictions
results/**/*train*.csv

# Models
models/